@font-face {
    font-family: GrimptBold;
    src: url(../Fonte/grimpt-bold.ttf);
}

@font-face {
    font-family: GrimptRegular;
    src: url(../Fonte/grimpt-regular.ttf);
}

@font-face {
    font-family: Kagitingan;
    src: url(../Fonte/Kagitingan.otf);
}

* {
    margin: 1; /* Tirar as margens e espaçamentos*/
    padding: 1;
}

/* Corpo - Navbar*/
body {
    background-color: #1B262C; /* Cor de fundo*/
    width: 100%;
    overflow-x: hidden; /* Impede a rolagem lateral */
}


h1{
    color: #F2F2F2;
    font-family: kagitingan;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form{
    font-family: GrimptBold;
    color: #F2F2F2;
    font-size: 22px;
}
form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
form input{
    border: none;
    outline: unset;
    padding: 15px;
    width:250px;
    border-radius: 16px;
    border: 1px  #F2F2F2;
}

label{
    margin-left: 10px;
    margin-bottom: 5px;
}
button{
    display: block;
    border-radius: 16px;
    background-color: #9E241A;
    font-family: Kagitingan;
    color: #F2F2F2;
    text-transform:uppercase;
    height: 50px;
    width: 280px;
    font-size: 35px;
    transition: 0.5s ease;
    border: 1px solid #1B262C;
}

button:hover{
    background-color: #C43024;
    cursor: pointer;
}


h2{
    color: #F2F2F2;
    font-family: kagitingan;
    font-size: 50px;
    justify-content: center;
    display: flex;
    align-items: center ;
}

.tabela{    
    justify-content: center;
    display: flex;
    align-items: center ;

}

table,th,tr,td{
    text-align: center;
    color: #F2F2F2;
    border: 2px solid white;
    border-collapse: collapse;
    padding: 10px 15px;
}

th{
    font-family:Kagitingan;
    font-size: 20px;
    background-color: #C43024;
}

td{
    font-family:GrimptBold;
    font-size: 20px;
}

.deletar{
    text-decoration: none;
    background-color: #9E241A;
    color: #F2F2F2;
    border-radius: 10px;
    padding: 5px;

}
.deletar:hover{
    cursor: pointer;
    background-color: red;
}

.editar{
    border-radius: 10px;
    padding: 5px;
    color: #F2F2F2;
    text-decoration: none;
    background-color: darkblue;
}
.editar:hover{
    cursor: pointer;
    background-color: blue;
}