@font-face {
    font-family: GrimptBold;
    src: url(../Fonte/grimpt-bold.ttf);
}

@font-face {
    font-family: GrimptRegular;
    src: url(../Fonte/grimpt-regular.ttf);
}

@font-face {
    font-family: Kagitingan;
    src: url(../Fonte/Kagitingan.otf);
}


* {
    margin: 0; /* Tirar as margens e espaçamentos*/
    padding: 0;
}

/* Corpo - Navbar*/
body {
    background-color: #F2F2F2; /* Cor de fundo*/
    width: 100%;
    overflow-x: hidden; /* Impede a rolagem lateral */
}

.Logo {
    display: flex; 
    margin: 0% 0% 2% 8%;
}

nav {
    margin-top: 2%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

nav a:hover {
    color: #741920;
}

.Links {
    display: flex;
}

.Links > li {
    padding-left: 30px;
    list-style: none;
}

.Botao_home {
    color: #741920;
    font-family: GrimptBold;
    font-size: 25px;
}

.Botao_sobrenos,
.Botao_serviços {
    text-decoration: none;
    color: #1B262C;
    font-family: GrimptBold;
    font-size: 25px;
}

.Botao_faleconosco {
    font-family: GrimptBold;
    font-size: 25px; 
    color: #F2F2F2;
    padding: 7px 10px 5px 10px;
    border-radius: 10px;
    background-color: #741920;
    text-decoration: none;
    transition: 0.5s ease;
}

.Botao_faleconosco:hover {
    background-color: #551419;
    color: #F2F2F2;
}

/* Composição da página*/
.Titulo_1 {
    font-family: GrimptBold;
    font-size: 80px;
    color: #1B262C;
    margin: 0 0 0 10%;
}

.Texto_1 {
    font-family: GrimptRegular;
    font-weight: 300;
    font-size: 25px;
    color: #1B262C;
    margin:-11% 0 1% 10%;
}

button {
    font-family: Kagitingan;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    font-size: 33px;
    color: #F2F2F2;
    background-color: #741920;
    height: 60px;
    width: 200px;
    margin: 3% 0 4% 10%;
    transition: 0.5s ease;
}

button:hover {
    background-color: #551419;
    cursor: pointer;
}

.Imagem_1 {
    width: 495px;
    margin: -21% 50% 0 55%;
}


.Marketing,
.Historias {
    color: #c43024;
}

.Texto_2 {
    font-family: GrimptBold;
    font-size: 50px;
    color: #F2F2F2;
    padding: 18% 6% 0 0;
    text-align: center;
}

.Texto_2 {
    background-image: url(../Fundo/FundoCitação.png);
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: cover;
    text-align: center;
    height: 500px;
    width: 100%;
}

.Autor {
    font-family: GrimptRegular;
    font-size: 40px;
    padding-left: 40%;
}



/*Rodapé*/
.Rodape{
    background-color: #1B262C;
    width: 100% /* largura */; 
    height: 603px;
}

.Img_container {
    background-color: #1B262C;
    text-align: center;
    padding: 4% 0;
}

.Texto_3,
.Texto_4 {
    font-family: GrimptBold;
    text-transform: uppercase;
    font-size: 20px;
    color: #F2F2F2;
    background-color: #1B262C;
    margin-bottom: 1%;
}

.Orcamento {
    color: #c43024;
    font-size: 25px;
    font-family: Kagitingan;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1B262C;
    transition: color 0.5s ease, font-size 0.5s ease;
}

.Orcamento:hover {
    color: #9E241A;
    font-size: 30px;
}

.Direitos{
    background-color: #1B262C;
    color: #F2F2F2;
    font-family: GrimptBold;
    font-size: 15px;
}

.Contatos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Esquerda {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Conteudo {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.Insta_1,
.Zap_1,
.Email_1 {
    color: #c43024;
    text-transform: uppercase;
    font-family: GrimptBold;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 1%;
}

.h2 {
    color: #c43024;
    font-family: Kagitingan;
    font-size: 25px; 
    text-transform: uppercase;
}

.Insta, .Zap {
    color: #F2F2F2;
    font-family: GrimptRegular;
    font-size: 20px;
    text-transform: uppercase;
}


.Email_2 {
    font-family: GrimptRegular;
    font-size: 20px;
    text-transform: uppercase;
    color: #F2F2F2;
}

